
# Ini adalah backend endpoint yang digunakan untuk pengembangan lokal. Jangan gunakan ini di produksi.
VITE_API_URL=http://127.0.0.1:5000

# Hanya diperlukan jika Anda menggunakan S3 untuk menyimpan aset 3D. Jika tidak, biarkan kosong.
# S3 digunakan untuk menyimpan aset 3D yang diunggah oleh pengguna. Jika Anda tidak menggunakan S3, biarkan kosong.
#   VITE_S3_BASE_URL: base URL untuk bucket S3, misalnya https://bucket-name.s3.amazonaws.com. Jika Anda menggunakan S3, ini harus diisi.
#   VITE_S3_BUCKET: nama bucket S3, misalnya bucket-name. Jika Anda menggunakan S3, ini harus diisi.
VITE_S3_BASE_URL=http://localhost:4566
VITE_S3_BUCKET=3d-assets-store
